# Diretórios gerados
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Configurações locais do IDE
.idea/
*.iml
*.ipr
*.iws

# VSCode configs
.vscode/

# Outros
pubspec.lock

# Ficheiros de sistema
*.log
.DS_Store
Thumbs.db

# Linux/Mac gerados
*.swp
*.swo
